/* Variables */
:root {
  --main-color: #ff6464;
  --secondry-color: #00a8cc;
  --dark-color: #21243d;
  --light-color: #8695a4;
  --black-clr: black;
}

/* End Variables */
/* Global Rules */
*{
    padding: 0;
    margin: 0;
  box-sizing: border-box; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  font-family: "Heebo", sans-serif;
}
 
  /* Small screens */
  @media (max-width: 767px) {
  }
  
  /* Medium screens */
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* Large screens */
  @media (min-width: 992px) {
    .container {
      max-width: 992px;
    }
  }
  
  /* Extra-large screens */
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }
/* Heaader */
nav{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid rgb(216, 97, 97);
  padding: 25px 4%;
  display: flex;
  justify-content: right;
  align-items: center;
}
nav ul li a :hover{
color: red;
}
nav ul{
  list-style: none;
}
nav ul li{
  display: inline-block;
  padding: 0 16px;
}
nav ul li a{
  text-decoration: none;
  color: #242A45;
  text-transform: capitalize;
  align-items: center;
  display: inline-block;
  font-weight: bold;
}
 /* mobile */
 @media (max-width: 767px) {
  nav ul {
    display: none;
  }
  nav .toggle-menu:hover + ul {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    width: 100%;
    gap: 1.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

@media (min-width: 768px) {
  nav .toggle-menu {
    display: none;
  }

}

/* End header */
.container{
  padding: 100px 7%;
}
.protfile_row{
  display: flex;
  justify-content: center;
}
.special p{
  text-align: center;
  margin-bottom: 15px;
}
.special-par{
  text-align: right;
  color: #00A8CC;
  margin-bottom: 15px;
}
.right_side img{
  width: 100%;
}
.left_side h1{
 margin-top: 30px;
 font-size: 48px;
 margin-bottom: 30px;
}
.left_side p{
  font-size: 22px;
  color: #21243d;
  line-height: 1.5;
}
.btn_general{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 30px 8px;
}
.btn_header{
  padding: 10px 16px;
  border: none;
  background-color: #ff6464;
}
.contain{
  padding: 20px 4%;
  display: flex;
  background-color: #EDF7FA;
  align-items: center;
  justify-content: center;
}
.Recent_posts{
  padding: 30px;
}

.par .Recent_posts{
  background-color: white;
  display: inline-block;
  padding: 30px;

}
.Recent_posts h2{
  color: #21243D;
  font-size: 25px;
}
.resent_post1{
  color: #21243D;
  line-height: 1.5
}
.resent_post2{
  color: #21243D;
  line-height: 1.3 
}
.par .par_2{
  background-color: white;
  display: inline-block;
  padding: 20px;
  margin: 20px;
}
.par_2 h2{
  color: #21243D;
  font-size: 25px;
}
.par_2 p {
  color: #21243D;
  line-height: 1.4
}
.container{
  padding: 20px;
}
.works_row{
  display: flex;
  padding: 20px;
  border-bottom: solid 1px #E0E0E0;
  justify-content: center;
  margin: 20px;
}
.right_sides{
  padding: 20px;
}
.right_sides h3 a{
  text-decoration: none;
}
.right_sides h3{
  font-size: 25px;
  color: #21243D;
  padding-top: 10px;
  padding-bottom: 15px;
}
.right_sides .years{
  color: #ffffff;
  background-color: #21243D;
  border-radius: 20px;
  padding: 4px 10px;
  padding-bottom: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.right_sides p span{
  color: #8695A4;
  padding: 10px;
}
.footer_row{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.footer_column{
  margin: 10px;
  padding: 25px;
}
.footer_column img{
  padding: 11px;
}
.footer-p{
  padding: 10px;
  font-size: 16px;
}
/* Start css Blog */
.Blog{
  border-bottom: solid 1px #E0E0E0;
  padding: 35px;
}
h1{
  padding: 30px;
  font-size: 40px;
  color: #21243D;
}
.Blog{
  margin:30px;
}
.Blog h3{
  color: #21243D;
  font-size: 25px;
}
span{
  color: #D9D9D9;
  font-size: 18px;
}
p{
  padding: 5px;
}
/* start css h1 in works html */
h1{
  padding: 20px;
  font-size: 30px;
}
/* start work details */
.work_Details{
  padding: 30px 8%;
  
}
h1{
  padding: 30px 8%;
}
.work_Details span{
   color: #ffffff;
  background-color: #FF7C7C;
  border-radius: 20px;
  padding: 3px 10px;
  padding-bottom: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p .par_wdet{
color: #21243D;
padding: 5px;
}
p{
  padding: 10px;
  line-height: 1.2;
  color: #000000;
}
.section2{
  padding: 30px 8%;
}
h3{
  padding: 5px;
}
p{
  color: #000000;
}
.img2{
  padding: 5px;
}
footer{
  padding-right:100px;
}
a span{
  color: #FF6464;
}

